@import url('https://fonts.googleapis.com/css?family=Bowlby+One&display=swap');

body {
  margin: 0;
  /* background-color: #000000; */
  background: #9796f0;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #fbc7d4, #9796f0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /* background: "#EDBFC6"; */
  /* background: #000000; */
  background: #9796f0;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #fbc7d4, #9796f0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.displayFont {
  /* font-family: 'Bowlby One', cursive; */
  cursor: pointer;
  color: black;
  font-weight: 600;
}
code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", */
    /* monospace; */
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover, .displayFont:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 10px;
  /* margin: 10px 0; */
}

ul {
  /* width: 25vw; */
  display: flex;
}

.allItemsList {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; */
}

.itemContainer {
  text-align: center;
}

.newItemForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: auto;
}

.textfield{
  color: red;
 }

.header {
  /* background-color: #FAFAFA; */
  background: #9796f0;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #fbc7d4, #9796f0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 40px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;   
}

.itemBox, .itemBoxL, .itemBoxLForm {
  /* background-color: #FAFAFA; */
  /* background-color: #000000; */
  background: #9796f0;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #fbc7d4, #9796f0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: black;
  font-weight: 600;
  /* margin: 40px; */
  align-items: center;
  /* padding: 50px 20px 30px 20px; */
  /* width: 30vw; */
  text-align: center;
  cursor: pointer;
}

/* .itemBox:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
} */

.imageBox {
  width: 15vw;
  height: 15vh;
  /* background-color: black; */
  /* background-color: #000000; */
  background: #9796f0;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #fbc7d4, #9796f0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.imageWrapper {
  width: 50vw;
}

.postedStyle {
  /* background: red; */
}

.notPostedStyle {
  background: pink;
}

.editedStyle {
  background: rgba(204, 140, 246, 0.329);
}

.notEditedStyle {
  background: green;
}

img {
  width: 20vw;
  height: 25vh;
}

button {
    margin-left: 26px;
    /* background: #f7ff00; */
    background: -webkit-linear-gradient(to right bottom, #db36a4, #f7ff00);
    background: linear-gradient(to right bottom, #db36a4, #f7ff00);
    margin: 10px 0;
}

button:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}

input[type=text], textarea {
  border: none;
  width: 100%;
  height: 20px;
  font-size: 1rem;
  font-weight: 100;
  padding: 5px;
  /* color: #666666; */
  color: black;
  font-weight: 600;
  margin: 10px 0;
  border-bottom: 1px solid black;
}

input::placeholder {
  color: black;
}

textarea {
  height: 100px;
  color: black;
  font-weight: 600;
  border-bottom: 1px solid black !important;
}

.itemBoxL {
  height: 75vh;
}

.itemBoxLForm {
  height: 90vh;
}

.imageButton {
  /* background: black; */
  /* background-color: #000000; */
  background: #9796f0;  /*fallback for old browsers*/
  /* background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #fbc7d4, #9796f0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 3vh;
  width: 15vh;
  box-shadow: 5px 5px 10px #666666;
  font-size: 14px;
  text-shadow: none;
  color: #efefef;
  font-weight: 100;
  margin: 5px;
  border-radius: 5px;
}

p {
  margin: 0;
  color: black;
}

.textBox {
  overflow: hidden;
  /* width: 100%; */
  text-align: left;
  flex-basis:  500px;
}

ul li:nth-child(1){
  flex-basis:  50px;
}

.textBoxTitle {
  /* flex-basis:  200px; */
  overflow: hidden;
  width: 40%;
  text-align: left;
  /* font-size: 22px; */
}

p b {
  text-align: left;
}

.title {
  margin-bottom: 25px;
  height: 40px;
}

.price {
  /* width: 100%; */
  text-align: right;
  /* padding: 20px; */
  flex-basis:  100px;
}


.editPrice {
  width: 100%;
}

.editField {
  width: 100%;
  text-align: left;
}

.editMarginControl {
  height: 15px;
  width: 100%;
}

.flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.spin {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 100px;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@keyframes border {
  0% {
      border: medium solid #1D6A96;
   color:#1D6A96;
  }
  100% {
     border: medium solid #efefef;
    color:#333;
  }
}

.focusButton:before{
  content: "";
  animation: box-shadow 1s ease infinite alternate;
  margin-left: '26px';
  width: 100%;
  height: 100%;
  display: inherit;
  align-items: inherit;
  padding: 6px 16px;
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: #db36a4 1px 1px 5px 1px;
  border: 0;
  border-color: #db36a4;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  position: absolute;
  top: 0;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  -moz-appearance: none;
}

.MuiInputBase-input:invalid {
  color: black;
  font-weight: 600;
  border-bottom: 1px solid black;
}

.MuiFormLabel-root {
  color: black;
  font-weight: 600;
}

.MuiFormLabel-root.Mui-focused {
  color: black !important;
  font-weight: 600;
}

.MuiInput-underline:after {
  border-bottom: 6px solid　!important;
  border-image: linear-gradient(to right, #db36a4 30%, #f7ff00 100%) !important;
  border-image-slice: 1 !important;
}

.MuiInput-underline:before {
  color: black;
  font-weight: 600;
}

input[type="file" i] {
  color: black;
  font-weight: 600;
  border-bottom: 1px solid black;
}

.MuiFormHelperText-root {
  color: black !important;
  font-weight: 600;
}

.MuiInputBase-inputMultiline {
  color: black !important;
  font-weight: 600;
}

.titleInput {
  width: 400px;
}

.dateForm {
  width: 150px;
}

.picker__box .picker__header .picker__date-display .picker__weekday-display {
  background-color: #ff4444;
}
.picker__box .picker__header .picker__date-display {
background-color: #ff4444;
}
.picker__box .picker__table .picker--focused, .picker__box .picker__table .picker__day--selected, .picker__box .picker__table .picker__day--selected:hover {
background-color: #ff4444;
}
.picker__box .picker__table .picker__day.picker__day--today {
color: #ff4444;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  direction: flex;
  flex-direction: column;
}

.MuiPickersSlideTransition-transitionContainer > * {
  color: black;
}
